.filter-container {
    /* border:1px solid green; */
    height:100px;
    flex-basis:100%;
}

.filter-area {
    display: flex;
    justify-content: space-between;
}

.filter {
    display: flex;
}

.search-input{
    display: flex;
}

.filter-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 3%;
}

.filter-all {
    display: flex;
}

.filter-registered {
    display: flex;
}

.filter-right {
    display: flex;
    flex-direction: column;
}

.filter-bookmarked {
    display: flex;
}

.filter-seat-available {
    display: flex;
}

.filter-options {
    display: flex;
    justify-content: space-between;
}

.filter-icon {
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-right: 4px;
}

.filter-text {
    font-size: 20px;
    margin-right: 4px;
    margin-bottom: 10px;
}

.filter-chevron {
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.filter-left-icon {
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-right: 4px;
}

.filter-left-text {
    font-size: 20px;
    margin-right: 4px;
    margin-bottom: 10px;
}



.search-text {
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-right: 4px;
}

.search-icon {
    font-size: 20px;
    margin-right: 4px;
    margin-bottom: 10px;
}

.filter-chevron {
    margin-left: 4px;
    margin-top: 2px;
    margin-bottom: 10px;
}

.filter-right-icon {
    margin-top: 2px;
    margin-left: 4px;
    margin-bottom: 10px;
    margin-right: 4px;
}

.filter-right-text {
    font-size: 20px;
    margin-right: 4px;
    margin-bottom: 10px;
}
