.card {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    height:400px;
    flex-basis: 300px;
    margin-top: 2%;
    border-radius: 20px;
    margin-bottom: 50px;
}

.image-holder {
    height:200px;
    /* width: 100%; */
    /* border:red solid 2px; */

}
.card > img {
    width: 100%;
    /* height: 100%; */
    object-fit: cover;
    border-radius: 20px 20px 2px 2px;
}

.card-content {
    display: flex;
    flex-direction: column;
    /* margin-left: 2%;
    margin-right: 2%; */
    border: black 1px dashed;
    margin-top:0.5%;
    background-color: black;
    border-radius: 2px 2px 20px 20px;
   
}
.card-title {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 8px;
    color: white;
}

.card-description {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 8px;
    color: white;
    display: -webkit-box;

    overflow: hidden;
    -webkit-line-clamp: 3; /* number of lines to show */
            line-clamp: 3; 
    -webkit-box-orient: vertical;
}

.card-venue-date {
    text-align: center;
    margin-top: 4px;
    margin-bottom: 8px;
    color: white;
}

.card-booking {
    display: flex;
    /* margin-left: 2%;
    margin-right: 2%; */
    border: black 1px dashed;
    margin-top:1%;
    background-color: black;
    color: white;
    margin-bottom: 16px;
    justify-content: space-between;
    margin-left: 3%;
    margin-right: 3%;
   
}

.registration {
    display: flex;
    justify-content: center;
    height:30px;
    margin-bottom: 20px;
}



/* media query */

/*Small screens and laptops*/
@media screen and (min-width: 769px) and (max-width:1024px)
{
    .card{
        flex-basis: 400px;
        margin-left: 20%;
        margin-bottom: 200px;
    }
    .card:nth-child(4) {
        margin-top:100px;
    }

}

/*ipads and tablets*/
@media screen and (min-width: 481px) and (max-width:768px)
{
   
}


/*Mobile devices*/
@media screen and (min-width: 320px) and (max-width:480px)
{
    .card-holder {
        margin-top:70px;
    }
    .card-owner {
        width:110px;
        margin-left: 70px;
        font-size: 14px;
    }
    
}
