.appContainer {
    /* border:2px solid black; */
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    /* height: 70vh; */
    /* flex-direction: row; */
    justify-content: center;
    align-items: center;
}

.eventDetailContainer {
    height:600px;
    margin-top: 10px;
    margin-bottom: 10px;
}