.footer {
    background-color: black;
    padding: 0 10%;
    height:100px;
    position:fixed;
    bottom: 0;
    width:100%;
}
.footer p {
    color: white;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}